.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #8c9cff;
    height: 400px;
    width: 390px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.emp-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #8c9cff;
    height: 400px;
    width: 390px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.userId, .empId, .password{
    display: flex;
    align-items: center;
    margin: 5px;
    height: 18%;
    width: 95%;
}

.login-btn{
    margin-top: 30px;
    margin-bottom: 10px;
}

.login-btn button{
    background-color: #F775B6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


label{
    margin: 8px 0px 8px 0px;
    font-family: 'Inter', sans-serif;
    font-size: large;
    width: 200px;
    text-align: start;
    margin-left: 10px;
}

.user-login-form, .emp-login-form{
    display: flex;
    flex-direction: column;
}

.inputDiv{
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    height: 20px;
    width: 97%;
    padding: 5px;
}

.inputDiv input{
    width: 90%;
    padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    margin-left: 5px;
}

input:focus{
    outline: none;

}

.main-content-container{
    display: flex;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 90vh;
}

.img-container{
    display: flex;
    width: 40%;
    margin-left: 50px;
}

h1{
    margin: 10px;  
}

h2{
    margin: 10px 10px 50px 10px;
}

p{
    font-size: larger;
}
