.sub-list-container{
    display: flex;
    justify-content: center;
}

.sub-item{
    background-color: #F671B2;
    height: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.sub-list-container a{
    text-decoration: none;
    color: #213547;
}

.sub-list-container a:hover{
    text-decoration: none;
    color: #213547;
}